@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  --pink: #ede5de;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

body,
main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}

main {
  padding-top: 50px;
}

article {
  width: 60%;
  min-width: 250px;
}

img {
  /* for margin auto to work on images: display: block, as images are inline by default */
  display: block;
  width: 70%;
  max-width: 500px;
  min-width: 250px;
  margin: auto;
}


/* ===================NAVBAR======================== */
.navbar-toggler {
  color: var(--pink);
  width: 100px;
  height: 100px;
  margin-right: auto;
  display: grid;
  place-items: center;
  border-bottom-right-radius: 100%;
  position: absolute;
  left: 0;
  z-index: 2;


}

.navbar-toggler:hover, .navbar-toggler.rotate{
  background-color: salmon;
  color: white;

}

#icon {
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}



.navbar {
  color: inherit;
  background-color: var(--pink);
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: calc(100vh - 100px);
  width: 100vw;
  display: flex;
  align-items: flex-end;
}


.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 50px;
  gap: 10px;
}


.navbar li:nth-child(2){
  margin-left: 20px;
}

.navbar li:nth-child(3){
  margin-left: 40px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none;
}

/* ===================Main======================== */

main {
  min-height: 100vh;
  background-color: white;
  transition: 0.5s all ease-in-out;
}

main.rotate {
  transform: rotate(-15deg);
  transform-origin: top left;
}
